.main {
  float: left;
  width: calc(100vw - 300px);
  .main__header {
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
   .main__header__left__box {
      padding-top: 35px;
     .main__header__left__box__current-group {
       font-size: 20px;
       color: #333333;
       padding-bottom: 15px;
     }
     .main__header__left__box__members {
       font-size: 12px;
       color: #999999;
       display: flex;
     }
   }
   a {color: #38aef0;
      text-decoration: none; //あとで他とまとめる
    .main__header__right__box__edit-btn {
        margin-top: 28px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border: solid 1px #38aef0;
        right: 40px;
     }
   }
   
  }
 .main__content {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
  .main__content__message {
    padding-bottom: 40px;
   .main__content__message__upper-box {
     display: flex;
     padding-bottom: 10px;
     p.main__content__message__upper-box__user-name {
       font-size: 16px;
       font-weight: bold;
       color: #434A54
     }
     p.main__content__message__upper-box__time {
       font-size: 12px;
       color: #999999;
       padding-left: 10px;
     }
   }
  }
 }
}