@import "./config/_variable.scss";
.main {
  float: left;
  width: calc(100vw - 300px);
  .main__header {
    height: 100px;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    display: flex;
   .main__header__left__box {
      padding-top: 35px;
     .main__header__left__box__current-group {
       font-size: 20px;
       color: #333333;
       padding-bottom: 15px;
     }
     .main__header__left__box__members {
       font-size: 12px;
       color: $mainGrayColor;
       display: flex;
     }
   }
   a {color: $mainButtonColor;
      text-decoration: none; //あとで他とまとめる
    .main__header__right__box__edit-btn {
        margin-top: 28px;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        border: solid 1px $mainButtonColor;
        position: absolute;
        right: 40px;
     }
   }
  }
 .main__content {
    height: calc(100vh - 190px);
    padding: 46px 40px;
    background-color: #fafafa;
  .main__content__message {
    padding-bottom: 40px;
   .main__content__message__upper-box {
     display: flex;
     padding-bottom: 10px;
     p.main__content__message__upper-box__user-name {
       font-size: 16px;
       font-weight: bold;
       color: #434A54;
     }
     p.main__content__message__upper-box__time {
       font-size: 12px;
       color: $mainGrayColor;
       padding-left: 10px;
     }
   }
  }
 }
 .main__bottom {
   height: 90px;
   padding: 20px 40px;
   background-color: #ddd;
   form.main__bottom__form {
    display: flex;
    .main__bottom__form__input-box {
      position: relative;
      width: 100%;
     input.main__bottom__form__input-box__text {
      height: 50px;
      width: 100%;
      padding: 0 40px 0 10px;
      color: #434a54;
      border-style: none;
     }
     label.main__bottom__form__input-box__image {
      font-size: 1.3rem;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      i.fa-image {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
      }
      input#message_image.main__bottom__form__input-box__image__file {
        display: none;
      }
     }
    }
    input.main__bottom__form__btn {
      width: 100px;
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $mainButtonColor;
      color: white;
      cursor: pointer;
    }
   }
 }
}